#navbar-enlaces li {
  margin-left: 1em;
}
#navbar-enlaces li a {
  text-decoration: none;
  font-weight: bold;
}

/* DROPZONE */
.dropzone {
  border: 2px dashed #d0d0d0 !important;
}
.dropzone .dz-message {
  color: #ababab !important;
}
.dropzone .dz-message:before {
  color: #b5b5b5 !important;
  width: 40px !important;
  height: 40px !important;
}

/* SELECT2 */
.select2-selection__arrow {
  height: 100% !important;
}
.select2-selection__arrow b {
  border-color: rgba(136, 136, 136, 0.42) transparent transparent transparent !important;
  margin-left: -15px !important;
  padding: 0 !important;
}

.rowFiltros {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.bg-gris {
  background-color: #dddada;
}

.dt-button-collection div[role=menu] {
  padding: 0.5em;
  border-radius: 5px;
}
.dt-button-collection div[role=menu] .dt-button:nth-child(-n+2) {
  display: none;
}
.dt-button-collection div[role=menu] .dt-button {
  width: 100%;
  box-shadow: none;
  font-weight: 500;
  border: none;
  background-color: #ffffff;
  color: black;
}
.dt-button-collection div[role=menu] .dt-button.active {
  background-color: #283492 !important;
  color: white;
}
.dt-button-collection div[role=menu] .dt-button:hover {
  background-color: #e8e8e8;
}

@media only screen and (min-width: 280px) and (max-width: 1023px) {
  .dt-action-buttons {
    width: 100%;
  }
  .dt-action-buttons .dt-buttons {
    flex-flow: wrap;
    width: 100%;
  }

  .rowFiltros > div {
    margin: 0 !important;
  }
  .rowFiltros > div div {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .dataTables_length {
    text-align: center !important;
  }
}
