// PALETA DE COLORES
$primary: #724c31;
$secondary: rgb(19, 23, 0);
$lightsecondary: rgb(41, 61, 51);
$third: rgb(0, 0, 29);
$lightthird: rgb(22, 34, 60);
$fourth: rgb(26, 0, 0);
$lightfourth: rgb(61, 52, 52);
$black: rgb(10, 10, 10);
$grey: rgb(51, 51, 51);
$lightgrey: rgb(128, 128, 128);
$white: rgb(204, 204, 204);
/* BREAKPOINTS */
// X-Small
$xs-min: 269px;
$xs-max: 575.9px;
// Small
$sm-min: 576px;
$sm-max: 767.9px;
// Medium
$md-min: 768px;
$md-max: 991.9px;
// Large
$lg-min: 992px;
$lg-max: 1199.9px;
// Extra large
$xl-min: 1200px;
$xl-max: 1399.9px;
// Extra extra large
$xxl-min: 1400px;
$xxl-max: 1699.99px;
// Extra extra extra large
$xxxl-min: 1700px;

$caracteristicas-background: #b17171;
$caracteristicas-background-titular: #824949;

$funeraria-background: #d6d6d6;
$funeraria-background-titular: #49555a;
$biografia-background: #d6d6d6;
$biografia-background-titular: #49555a;
$aficiones-background: #d6d6d6;
$aficiones-background-titular: #49555a;
$donaciones-background: #d6d6d6;
$donaciones-background-titular: #49555a;
$comentarios-background: #baa6a5;
$comentarios-background-titular: #49555a;
$momentos-background: #d6d6d6;
$momentos-background-titular: rgba(0, 0, 0, 0.4);
$infinito-background: #141414;
$infinito-background-titular: #7b6463;

$footer-bg: #5297ac;
$esquela-bg: #d6d6d6;
$botones-infinito: #7b6463;
